body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
}

.blog .thumbnil img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 18px;
}

.blog-author {
    color: #9F9F9F;
}

.blog-author a {
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

/* courses styles */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.course{
    width: 252.42px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 10px;
    border-radius: 10px;
}

.course-title{
    margin-bottom: -10px;
    margin-top: 0;
}

.course .course-banner img {
    width: 100%;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.course-author a{
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.class-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 3px 10px;
    border-radius: 30px;
    font-weight: 500;
}

/* Responsive */
/* mobile device */
@media only screen and (max-width: 688px){
    .container{
        width: 80%;
    }

    .section-title {
        font-size: 24px;
        margin-top: 0;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        flex-direction: column;
    }

    .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-info {
        margin-left: 0;
    }

    .blog-title {
        margin-bottom: -10px;
    }

    .blog {
       flex-direction: column;
       align-items: center;
       text-align: center;
       margin-bottom: 30px;
       box-shadow: 5px 5px 10px lightgray;
       border-radius: 10px;
       padding: 10px;
    }
    .blog .thumbnil img {
        width: 250px;
        height: 150px;
    }

    .course{
        width: 90%;
        margin-bottom: 30px;
    }
}

/* Tablet Device */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .container{
        width: 90%;
    }

    .blogs, .courses {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .blog {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px lightgray;
        border-radius: 10px;
        padding: 5px;
     }

     .blog .thumbnil img {
        width: 280px;
        height: 150px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .course{
        width: 90%;
        margin-bottom: 30px;
    }
}